.actions {
  .quick-action {
     .bp3-control-group {
       width: 80%;
       margin: 0.5em auto;
     }

    .bp3-label {
      padding: 0 0 0 1em;
      margin: 0;
    }

    .panel-block {
      flex-direction: column;
      flex-grow: 1;
    }

    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
}

.quick-actions-modal {
  .modal-content {
    width: 320px;
  }

  .action-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5em;
  }
}