$panel-header-color: #393f4f;
$secondary-toolbar-bg-color: #5a6273;

$accent-color: #4ac767;
$accent-color-hover: #3ab857;
$accent-color-secondary: #279ceb;
$danger-color: #FF3F57;
$sidebar-item-color: white;

$panel-background-color: #f5f6f8;
$secondary-panel-background-color: white;
$panel-header-color: #5a5a5a;

$website-background-color: #e9edf2;

$button-unselected: #8F9290;



$background-color-1: #1F2531;
$background-color-2: #171C28;
$background-color-3: #151B29;
$background-color-4: #1B202B;
$background-border: #0B0E17;

$border-color-1: #3C3C53;

$highlight-color-1: #279CEB;
$highlight-color-2: #3E7BFA;
$highlight-color-4: #FF3F57;
$highlight-color-6: #F1C40F;

$icon-color: #C6CED2;

$text-color: #CFD8E3;


$temp-color-2: #00000029;
$temp-color-3: #FFFFFF;
$temp-color-5: #DA3FFF;

input, button, textarea, :focus {
  outline: none;
}

body {
  font-family: 'Open Sans', -apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,Icons16,sans-serif;
  background-color: $background-color-2;
  color: $text-color;
}

::-webkit-scrollbar {
  height: 12px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $background-border;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $highlight-color-2;
  border-radius: 10px;
  border: 2px solid $background-color-2;
}

.theme-shoko-blue .shoko-scrollbar {
  scrollbar-color: $highlight-color-1 $background-border;
  scrollbar-width: thin;
}

#app-root {
  flex: 1;
  height: 100vh;
}

.text-xl2 {
  font-size: 1.375rem;
}

.text-2xl2 {
  font-size: 1.75rem;
}

.text-4xl2 {
  font-size: 2.5rem;
}

.text-5xl2 {
  font-size: 3.5rem;
}

.text-6xl2 {
  font-size: 4.25rem;
}

.bg-color-unselected {
  background-color: $button-unselected;
  color: white;
}

.color-highlight-1 {
  color: $highlight-color-1 !important;
}

.color-highlight-2 {
  color: $highlight-color-2 !important;
}

.bg-color-highlight-1 {
  background-color: $highlight-color-1;
}

.bg-color-highlight-2 {
  background-color: $highlight-color-2;
}

.bg-color-1 {
  background-color: $background-color-1;
}

.bg-color-2 {
  background-color: $background-color-2;
}

.bg-color-3 {
  background-color: $background-color-3;
}

.bg-color-4 {
  background-color: $background-color-4;
}

button.color-highlight-1:hover {
  color: $highlight-color-2 !important;
}

.color-danger {
  color: $highlight-color-4;
}

.bg-color-danger {
  background-color: $highlight-color-4;
}

.button-color-primary {
  background-color: $accent-color-secondary
}

.border-color-danger {
  border-color: $highlight-color-4;
}

.fa-layer-icon-bg {
  color: $panel-background-color;
}

.Toastify__toast--success {
  background: $accent-color !important;
  color: white;
}

.Toastify__toast--error {
  background: $danger-color !important;
  color: white;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.footer {
  background-color: $panel-header-color;
  color: #fff;
  padding: 1.5rem 0;
}


.sidebar-item {
  color: $icon-color;
  cursor: pointer;
}

.sidebar-item:hover {
  color: $highlight-color-1;
}

.header {
  background-color: $panel-background-color;
  border-color: $panel-header-color;
}

.user-icon {
  background-color: $highlight-color-1;
}

.user-icon:hover {
  background-color: $highlight-color-2;
}

.font-open-sans {
  font-family: 'Open Sans';
}

.section.page-wrap {
  padding: 1.5rem;
}

.tile.overview {
  font-size: 2.5em;

  .subtitle {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
    margin-bottom: .5rem;
    text-transform: capitalize;
    font-weight: 300;
    font-size: .5em;
  }

  .is-parent {
    &:nth-child(1) { .level-left { color: #59a9c7; } }
    &:nth-child(2) { .level-left { color: #f86a6a; } }
    &:nth-child(3) { .level-left { color: #f78ffe; } }
    &:nth-child(4) { .level-left { color: #fcb44c; } }
  }

  .box {
    padding: 1rem;
  }

  .is-child {
    position: relative;
    font-weight: 500;

    .level-left {
      font-size: 1.35em;
    }
  }
}

.panel-heading {
  background-color: $panel-header-color;
  border-radius: .5em .5em 0 0;
  color: #fff;
  border-bottom: 1px solid $panel-header-color;
  border-left: 1px solid $panel-header-color;
  border-right: 1px solid $panel-header-color;
  font-weight: 600;

  .action {
    cursor: pointer;
  }

  .color {
    color: $accent-color;
    padding: 0 0.2em;
  }

  &:first-child {
    border-top: 1px solid $panel-header-color;
  }
}

.nomatch {
  font-size: 4em;
}
