$panel-header-color: #393f4f;
$secondary-toolbar-bg-color: #5a6273;

$accent-color: #4ac767;
$accent-color-hover: #3ab857;
$accent-color-secondary: #279ceb;
$danger-color: #FF3F57;
$sidebar-background-color: #0a0b1d;
$sidebar-item-color: white;

$panel-background-color: #f5f6f8;
$secondary-panel-background-color: white;
$panel-header-color: #5a5a5a;

$website-background-color: #e9edf2;

$text-color: #333333;

$button-unselected: #8F9290;

input, button, textarea, :focus {
  outline: none;
}

body {
  font-family: 'Exo 2', Muli, Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,Icons16,sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: $website-background-color;
  color: $text-color;
}

#app-root {
  flex: 1;
  height: 100vh;
}

.text-xl2 {
  font-size: 1.375rem;
}

.text-2xl2 {
  font-size: 1.75rem;
}

.text-4xl2 {
  font-size: 2.5rem;
}

.text-5xl2 {
  font-size: 3.5rem;
}

.text-6xl2 {
  font-size: 4.25rem;
}

.bg-color-unselected {
  background-color: $button-unselected;
  color: white;
}

.color-accent {
  color: $accent-color;
}

.bg-color-accent {
  background-color: $accent-color;
  color: white;
}

.color-accent-secondary {
  color: $accent-color-secondary;
}

.bg-color-accent-secondary {
  background-color: $accent-color-secondary;
  color: white;
}

.color-danger {
  color: $danger-color;
}

.bg-color-danger {
  background-color: $danger-color;
  color: white;
}

.border-color-danger {
  border-color: $danger-color;
}

.fa-layer-icon-bg {
  color: $panel-background-color;
}

.Toastify__toast--success {
  background: $accent-color !important;
  color: white;
}

.Toastify__toast--error {
  background: $danger-color !important;
  color: white;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.footer {
  background-color: $panel-header-color;
  color: #fff;
  padding: 1.5rem 0;
}

.sidebar-container {
  width: 24.5rem;
}

.sidebar {
  background-color: $sidebar-background-color;
  color: $sidebar-item-color;
  width: 24.5rem;
}

.sidebar-item {
  cursor: pointer;
}

.sidebar-item:hover {
  color: $accent-color;
}

.header {
  background-color: $panel-background-color;
  border-color: $panel-header-color;
}

.user-dropdown-toggle:hover {
  background-color: $website-background-color;
}

.user-dropdown {
  background-color: $panel-background-color;
  border-color: $panel-header-color;
}

.fixed-panel {
  background-color: $panel-background-color;
}

.fixed-panel-header {
  color: $panel-header-color;
}

.font-muli {
  font-family: 'Muli';
}

.font-exo2 {
  font-family: 'Exo 2';
}

.section.page-wrap {
  padding: 1.5rem;
}

.tile.overview {
  font-size: 2.5em;

  .subtitle {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
    margin-bottom: .5rem;
    text-transform: capitalize;
    font-weight: 300;
    font-size: .5em;
  }

  .is-parent {
    &:nth-child(1) { .level-left { color: #59a9c7; } }
    &:nth-child(2) { .level-left { color: #f86a6a; } }
    &:nth-child(3) { .level-left { color: #f78ffe; } }
    &:nth-child(4) { .level-left { color: #fcb44c; } }
  }

  .box {
    padding: 1rem;
  }

  .is-child {
    position: relative;
    font-weight: 500;

    .level-left {
      font-size: 1.35em;
    }
  }
}

.panel-heading {
  background-color: $panel-header-color;
  border-radius: .5em .5em 0 0;
  color: #fff;
  border-bottom: 1px solid $panel-header-color;
  border-left: 1px solid $panel-header-color;
  border-right: 1px solid $panel-header-color;
  font-weight: 600;

  .action {
    cursor: pointer;
  }

  .color {
    color: $accent-color;
    padding: 0 0.2em;
  }

  &:first-child {
    border-top: 1px solid $panel-header-color;
  }
}

.nomatch {
  font-size: 4em;
}