input,
button,
textarea,
:focus {
  outline: none;
}

// For Chrome, Safari, Edge
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

// For Firefox
input[type='number'] {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-appearance: textfield;
}

body {
  background-color: theme('colors.background');
  color: theme('colors.font-main');
  font-weight: 300;
}

::-webkit-scrollbar {
  height: 12px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: theme('colors.background-border');
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: theme('colors.highlight-1');
  border-radius: 10px;
  border: 2px solid theme('colors.background');
}

.theme-shoko-gray .shoko-scrollbar {
  scrollbar-color: theme('colors.highlight-1') theme('colors.background-border');
  scrollbar-width: thin;
}

.scroll-gutter {
  scrollbar-gutter: stable;
}

.scroll-no-gutter {
  scrollbar-gutter: auto;
}

#app-root {
  flex: 1;
  height: 100vh;
}

/* stylelint-disable-next-line selector-class-pattern */
.Toastify__toast {
  background: theme('colors.background') !important;
  border: 1px solid theme('colors.background-border') !important;
  border-radius: 5px !important;
  color: theme('colors.font-main') !important;
  font-family: Sora, sans, serif, mono !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.Toastify__progress-bar--success {
  background: theme('colors.highlight-2') !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.Toastify__progress-bar--error {
  background: theme('colors.highlight-3') !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.Toastify__progress-bar--info {
  background: theme('colors.highlight-1') !important;
}

.login-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login-image-default {
  background-image: url('/images/SpyXFamily.jpg');
}

/* Chromium Autofill Fix */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* Firefox Autofill Fix */
input:autofill {
  background: theme('colors.background-border');
}

.react-grid-item > .react-resizable-handle::after {
  border: 0;
}

.metadata-link-icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &.anidb {
    background-image: url('/images/community/24-AniDB.png');
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &.TMDB {
    background-image: url('/images/community/24-TMDB.png');
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &.TvDB {
    background-image: url('/images/community/24-TvDB.png');
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &.MAL {
    background-image: url('/images/community/24-MAL.png');
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &.AniList {
    background-image: url('/images/community/24-Anilist.png');
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &.TraktTv {
    background-image: url('/images/community/24-Trakt.png');
  }
}
/* stylelint-disable-next-line selector-class-pattern */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
/* stylelint-disable-next-line selector-class-pattern */
.ReactModal__Overlay--after-open {
  opacity: 1;
}
/* stylelint-disable-next-line selector-class-pattern */
.ReactModal__Overlay--before-close {
  opacity: 0;
}
