.error-page {
  background-color: $panel-header-color;
  a {
    color: #49a2df;
    font-weight: 600;
  }

  .code {
    margin: 0;
    color: #fff;
    letter-spacing: 0.02em;
    font-weight: 300;
    font-size: 15em;
    line-height: 1;
  }

  .title {
    padding-bottom: 0.5em;
    color: #fff;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 2em;
    line-height: 1em;
  }

  .text {
    padding-bottom: 0;
    color: #fff;
    font-size: 1.125em;
    line-height: 1.5em;
  }
}