.firstrun-panel {
  background-color: $secondary-panel-background-color;
  width: 64rem;
  height: 40rem;
}

.firstrun-image {
  background-image: url('/public/left-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 23rem;
}

.firstrun-content {
  width: 41rem;
}

.firstrun-sidebar {
  color: $secondary-panel-background-color;
  background-color: rgba($sidebar-background-color, 0.8);
}
