.input-field {
  border-color: $text-color;
  background-color: inherit;
}

.select-field {
  background-color: inherit;
}

// For Chrome, Safari, Edge
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

// For Firefox
input[type=number] {
  -moz-appearance: textfield;
}