.input-field {
  border: 1px solid transparent;
}

.input-field:focus {
  border: 1px solid $highlight-color-1;
}

.checkbox {
  border: 1px solid transparent;
}

.checkbox-focused {
  border: 1px solid $highlight-color-1;
}

.button {
  border: 2px solid transparent;
}

.button:focus-visible {
  border: 2px solid $text-color;
}

// For Chrome, Safari, Edge
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

// For Firefox
input[type=number] {
  -moz-appearance: textfield;
}