.login-image {
  background-image: url('/webui/left-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login-panel {
  background-color: $secondary-panel-background-color;
  height: 24rem;
}

.logo {
  color: $secondary-panel-background-color;
  background-color: rgba($sidebar-background-color, 0.6);
}

.help {
  background-color: $sidebar-background-color;
}

.sign-in-button {
  background-color: $accent-color;
  color: white;
}