@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-shoko-blue {
  --color-background: 40 46 56; //Primary background
  --color-background-alt: 44 51 62; //Secondary background
  --color-background-nav: 53 61 74; //Tertiary background
  --color-background-border: 33 36 43; //General/Primary Border & Fill
  --color-highlight-1: 68 163 255;
  --color-highlight-2: 16 196 105;
  --color-highlight-3: 249 200 81;
  --color-highlight-4: 255 108 108;
  --color-highlight-5: 185 129 255;
  --color-font-main: 207 216 227;
  --color-font-alt: 255 255 255;
  --color-image-overlay: 22 27 39;
}
/* stylelint-disable import-notation, no-invalid-position-at-import-rule */
@import 'react-grid-layout/css/styles';
@import 'react-resizable/css/styles';
@import 'common';
@import 'modals';
@import 'error-page';
