@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-shoko-blue {
  --color-background: 23 28 40;
  --color-background-alt: 27 31 46;
  --color-background-nav: 20 25 37;
  --color-background-border: 11 14 23;
  --color-highlight-1: 59 130 246;
  --color-highlight-2: 6 194 112;
  --color-highlight-3: 255 82 82;
  --color-highlight-4: 241 196 15;
  --color-highlight-5: 172 114 245;
  --color-font-main: 207 216 227;
  --color-font-alt: 255 255 255;
}
/* stylelint-disable no-invalid-position-at-import-rule */
@import 'react-grid-layout/css/styles';
@import 'react-resizable/css/styles';
@import 'common';
@import 'modals';
@import 'error-page';
