.profile-modal {
  height: 18.5rem;
  width: 42rem;
}

.profile-modal-image {
  background-image: url('/webui/left-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 22rem;
}

.profile-modal-image-alpha {
  color: $secondary-panel-background-color;
  background-color: rgba($sidebar-background-color, 0.6);
}

.modal-content {
  .panel-block {
    background: #fff;
  }
}

.error-message {
  color: red;
  text-align: center;
}

.treeview {
  min-height: 400px;
  max-height: 600px;
  overflow: auto;

  .list-group-item {
    cursor: pointer;
    margin-left: 16px;
    font-size: 12pt;

    &.root {
      cursor: pointer;
      margin-left: 0;
    }

    &.selected > span {
      color: #49a2df;
    }

    .caret {
      position: relative;
      top: 1px;
    }
  }

  .svg-inline--fa {
    margin-left: 10px;
    margin-right: 5px;
  }
}