.modal { // React-Modal
  background-color: $background-color-1;
}

.modal-overlay { // React-Modal Overlay
  background-color: rgba(0,0,0,0.5);
}

.import-folder-modal {
  height: 22rem;
  width: 38rem;
}

.languages-modal {
  height: 40rem;
  width: 30rem;
}

.profile-modal {
  height: 18.5rem;
  width: 42rem;
}

.profile-modal-image {
  background-image: url('/webui/left-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 22rem;
}

.profile-modal-image-alpha {
  color: $background-color-2;
  background-color: rgba($background-color-1, 0.6);
}

.browse-folder-modal {
  width: 42rem;
}

.error-message {
  color: red;
  text-align: center;
}

.treeview {
  min-height: 400px;
  max-height: 600px;
  overflow: auto;

  .list-group-item {
    cursor: pointer;
    margin-left: 16px;
    font-size: 12pt;

    &.root {
      cursor: pointer;
      margin-left: 0;
    }

    &.selected > span {
      color: #49a2df;
    }

    .caret {
      position: relative;
      top: 1px;
    }
  }

  .svg-inline--fa {
    margin-left: 10px;
    margin-right: 5px;
  }
}