.languages-modal {
  width: 30rem;
}

.profile-modal {
  width: 42rem;
}

.profile-modal-image {
  background-image: url('/images/SpyXFamily.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 22rem;
}

.profile-modal-image-alpha {
  color: theme('colors.background');
  background-color: theme('colors.background / 60');
}

.modal-transition-left {
  transition: transform 300ms ease-in-out;
  transform: translateX(-30rem);
}

/* stylelint-disable-next-line selector-class-pattern */
.modal-transition-left--after-open {
  transform: translateX(0);
}

/* stylelint-disable-next-line selector-class-pattern */
.modal-transition-left--before-close {
  transform: translateX(-30rem);
}

.modal-transition-right {
  transition: transform 300ms ease-in-out;
  transform: translateX(30rem);
}

/* stylelint-disable-next-line selector-class-pattern */
.modal-transition-right--after-open {
  transform: translateX(0);
}

/* stylelint-disable-next-line selector-class-pattern */
.modal-transition-right--before-close {
  transform: translateX(30rem);
}
