.settings {
  .column {
    .panel {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .panel-block {
      flex-grow: 1;
      flex-direction: column;
      align-items: stretch;
    }

    .bp3-form-group.bp3-inline {
      justify-content: space-between;
    }

    .bp3-form-content {
      width: 50%;
    }

    .settings-tooltip-icon svg {
      margin-left: .5em;
    }
  }
}