.login-image {
  background-image: url('/api/image/7/random');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login-form {
  background: rgba(255,255,255,0.7);
}
