$background-color-main: #171C28;
$background-color-alt: #1B1F2E;
$background-color-nav: #141925;
$background-color-border: #363F5B;

$highlight-color-1: #279CEB;
$highlight-color-2: #06C270;
$highlight-color-3: #FF5252;
$highlight-color-4: #AC72F5;
$highlight-color-5: #F1C40F;

$font-color: #CFD8E3;
$font-color-alt: #FFFFFF;