{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "modules": false
    }],
    "@babel/react",
    "@babel/flow"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties",
    ["transform-imports", {
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true
      },
      "@fortawesome/free-solid-svg-icons": {
        "transform": "@fortawesome/free-solid-svg-icons/${member}",
        "skipDefaultConversion": true
      }
    }]
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    },
    "test": {
      "plugins": [
        "istanbul"
      ],
      "presets": ["@ava/stage-4"]
    }
  }
}