html,
body {
  height: 100%;
}

:global(#app-container) {
  height: 100%;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background: #ff93ab -webkit-gradient(linear, left top, left bottom, from(#0e5753), to(#15827c)) no-repeat; /* For WebKit (Safari, Chrome, etc) */
  background: #ff93ab -moz-linear-gradient(to top, #0e5753, #15827c) no-repeat; /* Mozilla,Firefox/Gecko */
  background-color: #15827c;
}

.wrapper-inner {
  display: table-cell;
  vertical-align: top;
  text-align: center;
}

@media (min-width: 768px) {
  .wrapper-inner {
    vertical-align: middle;
  }
}

.left-panel {
  background: #228f89;
  color: #fff;
  height: 40rem;
}

.right-panel {
  background: #006862;
  color: #fff;
  padding: 5rem;
  height: 40rem;
}
