html,
body {
  height: 100%;
}

:global(#app-container) {
  height: 100%;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background: #2966b8;
  background: linear-gradient(to bottom, #3f80e4 0%, #155081 100%);
}

.wrapper-inner {
  display: table-cell;
  vertical-align: top;
  text-align: center;
}

@media (min-width: 768px) {
  .wrapper-inner {
    vertical-align: middle;
  }
}

.left-panel {
  background: #488ed7;
  color: #fff;
  height: 40rem;
}

.right-panel {
  background: #3f79b6;
  color: #fff;
  padding: 5rem;
  height: 40rem;
}
