body {
  color: #797979;
  background: #f1f2f7;
  font-family: 'Open Sans', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size:13px;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

ul li {
  list-style: none;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: none;
}
::selection {

  background: #FF6C60;
  color: #fff;
}
::-moz-selection {
  background: #FF6C60;
  color: #fff;
}

.container {
  width: 100%;
  height: 100%;
}