.treeview {
  min-height: 400px;
  max-height: 600px;
  overflow: auto;
}

.treeview .list-group-item {
  cursor: pointer;
  margin-left: 16px;
  font-size: 12pt;
}

.treeview .list-group-item .caret {
  position: relative;
  top: 1px;
}

.treeview .list-group-item.root {
  cursor: pointer;
  margin-left: 0;
}

.treeview .list-group-item.selected > span {
  color: #49a2df;
}

.treeview :global(.fa) {
  margin-left: 10px;
  margin-right: 5px;
}
