/* For Chrome, Safari, Edge */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-appearance: textfield;
}

input[type='range'] {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

/* For Chrome, Safari, Edge */
input[type='range']::-webkit-slider-runnable-track {
  background: var(--slider-background);
  height: 0.5rem;
  border-radius: 2rem;
}

/* For Firefox */
input[type='range']::-moz-range-track {
  background: var(--slider-background);
  height: 0.5rem;
  border-radius: 2rem;
}

/* For Chrome, Safari, Edge */
input[type='range']::-webkit-slider-thumb {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
  appearance: none;
  margin-top: -4px;
  background-color: var(--slider-color);
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
}

/* For Firefox */
input[type='range']::-moz-range-thumb {
  border: none;
  background-color: var(--slider-color);
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
}

input[type='range']:focus {
  outline: none;
}

/* For Chrome, Safari, Edge */
input[type='range']:focus::-webkit-slider-thumb {
  outline: 1px solid var(--button-primary-hover);
  outline-offset: 0.125rem;
}

/* For Firefox */
input[type='range']:focus::-moz-range-thumb {
  outline: 1px solid var(--button-primary-hover);
  outline-offset: 0.125rem;
}

body {
  background-color: var(--panel-background-alt);
  color: var(--panel-text);
  font-family: var(--font-body), serif;
  font-weight: var(--font-weight-medium);
  line-height: 1.6rem
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--slider-background);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--slider-color);
  border-radius: 10px;
  border: 2px solid var(--slider-background);
  height: 15%;
}

.bg-panel-input::-webkit-scrollbar-track {
  background: var(--slider-background-alt);
  border-radius: 10px;
}

.bg-panel-input::-webkit-scrollbar-thumb {
  background: var(--slider-color-alt);
  border-radius: 10px;
  border: 2px solid var(--slider-background-alt);
  height: 15%;
}

/* Fixes Scrollbars breaking on other browsers and only applies the following when using Mozilla. */
/* stylelint-disable-next-line at-rule-no-vendor-prefix,at-rule-prelude-no-invalid */
@-moz-document url-prefix() {
  div {
    scrollbar-color: var(--slider-color) var(--slider-background);
    scrollbar-width: thin;
  }

  div * .bg-panel-input {
    scrollbar-color: var(--slider-color-alt) var(--slider-background-alt);
    scrollbar-width: thin;
  }
}

.scroll-gutter {
  scrollbar-gutter: stable;
}

.scroll-no-gutter {
  scrollbar-gutter: auto;
}

#app-root {
  flex: 1;
  height: 100vh;
}

#app-container {
  visibility: hidden;
}

/* stylelint-disable-next-line selector-class-pattern */
.Toastify__toast {
  background: var(--panel-background) !important;
  border: 1px solid var(--panel-border) !important;
  border-radius: 5px !important;
  color: var(--panel-text) !important;
  font-family: Sora, sans, serif, mono !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.Toastify__progress-bar--success {
  background: var(--panel-text-important) !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.Toastify__progress-bar--error {
  background: var(--panel-text-danger) !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.Toastify__progress-bar--info {
  background: var(--panel-text-primary) !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.Toastify__progress-bar--warning {
  background: var(--panel-text-warning) !important;
}

.login-image-default {
  background-image: url('/images/OnePiece.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Chromium Autofill Fix */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* Firefox Autofill Fix */
input:autofill {
  background: var(--panel-input);
}

.react-grid-item > .react-resizable-handle::after {
  border: 0;
}

.metadata-link-icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* stylelint-disable-next-line selector-class-pattern */
  &.AniDB {
    background-image: url('/images/community/24-AniDB.png');
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &.TMDB {
    background-image: url('/images/community/24-TMDB.png');
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &.MAL {
    background-image: url('/images/community/24-MAL.png');
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &.AniList {
    background-image: url('/images/community/24-Anilist.png');
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &.TraktTv {
    background-image: url('/images/community/24-Trakt.png');
  }
}
/* stylelint-disable-next-line selector-class-pattern */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
/* stylelint-disable-next-line selector-class-pattern */
.ReactModal__Overlay--after-open {
  opacity: 1;
}
/* stylelint-disable-next-line selector-class-pattern */
.ReactModal__Overlay--before-close {
  opacity: 0;
}

.contain-strict {
  contain: strict;
}
