.modal-transition-left {
  transition: transform 300ms ease-in-out;
  transform: translateX(-30rem);
}

/* stylelint-disable-next-line selector-class-pattern */
.modal-transition-left--after-open {
  transform: translateX(0);
}

/* stylelint-disable-next-line selector-class-pattern */
.modal-transition-left--before-close {
  transform: translateX(-30rem);
}

.modal-transition-right {
  transition: transform 300ms ease-in-out;
  transform: translateX(30rem);
}

/* stylelint-disable-next-line selector-class-pattern */
.modal-transition-right--after-open {
  transform: translateX(0);
}

/* stylelint-disable-next-line selector-class-pattern */
.modal-transition-right--before-close {
  transform: translateX(30rem);
}
