.theme-shoko-gray {
  --color-button-primary: #44a3ff;
  --color-button-primary-hover: #225eb7;
  --color-button-secondary: #353d4a;
  --color-button-secondary-hover: #1a2235;
  --color-button-danger: #db4551;
  --color-button-danger-hover: #b7364c;
  --color-default-background: #282e38;
  --color-default-background-input: #21242b;
  --color-default-border: #21242b;
  --color-default-text: #cfd8e3;
  --color-default-text-alt: #010f1c;
  --color-default-primary: #44a3ff;
  --color-default-primary-hover: #8ed3ff;
  --color-default-important: #10c469;
  --color-header-background: #2c333e;
  --color-header-background-alt: #353d4a;
  --color-header-border: #21242b;
  --color-header-text: #cfd8e3;
  --color-header-text-alt: #cfd8e3;
  --color-header-primary: #44a3ff;
  --color-header-primary-hover: #8ed3ff;
  --color-header-important: #10c469;
  --color-header-warning: #f9c851;
  --color-logo-background: #282e38;
  --color-logo-primary: #44a3ff;
  --color-overlay-background: #282e38a6;
  --color-overlay-border: #21242b;
  --color-overlay-count-episode: #10c469;
  --color-overlay-count-group: #b981ff;
  --color-overlay-icon: #cfd8e3;
  --color-overlay-icon-hover: #44a3ff;
  --color-panel-background: #2c333e;
  --color-panel-background-alt: #21242b;
  --color-panel-background-toolbar: #282e38;
  --color-panel-background-login: #2c333ee6;
  --color-panel-background-transparent: #2c333e80;
  --color-panel-border: #21242b;
  --color-panel-border-alt: #3f4762;
  --color-panel-text: #cfd8e3;
  --color-panel-text-alt: #010f1c;
  --color-panel-primary: #44a3ff;
  --color-panel-primary-hover: #8ed3ff;
  --color-panel-important: #10c469;
  --color-panel-danger: #db4551;
  --color-panel-warning: #f9c851;
  --color-panel-purple: #b981ff;
  --color-slider-background: #21242b;
  --color-slider-thumb: #44a3ff;
  --color-toast-background: #282e38;
  --color-toast-border: #21242b;
  --color-toast-text: #cfd8e3;
  --color-toast-primary: #44a3ff;
  --color-toast-important: #10c469;
  --color-toast-danger: #db4551;
  --color-toast-warning: #f9c851;
}
