.theme-shoko-gray {
  --button-danger: #ff6c6c;
  --button-danger-border: #21242b;
  --button-danger-hover: #fa7676;
  --button-danger-text: #010f1c;
  --button-primary: #44a3ff;
  --button-primary-border: #21242b;
  --button-primary-hover: #64b3ff;
  --button-primary-text: #010f1c;
  --button-secondary: #353d4a;
  --button-secondary-border: #282c34;
  --button-secondary-hover: #404a59;
  --button-secondary-text: #cfd8e3;
  --header-background: #2c333e;
  --header-icon: #cfd8e3;
  --header-icon-primary: #44a3ff;
  --header-text: #cfd8e3;
  --header-text-important: #10c469;
  --header-user-background: #44a3ff;
  --header-user-text: #010f1c;
  --logo-outline: #000;
  --logo-skin: #fdf5e8;
  --logo-face-shadow: #fe514d;
  --logo-eye-ref1: #e3e4d6;
  --logo-eye-ref2: #e8c8bb;
  --logo-eye-ref3: #ffc2b2;
  --logo-hair-gradient1: #c33144;
  --logo-hair-gradient2: #6b8cdb;
  --logo-hair-gradient3: #79f0f8;
  --logo-eye-gradient1: #ae303b;
  --logo-eye-gradient2: #ec4050;
  --logo-eye-gradient3: #fd877d;
  --panel-background: #2c333e;
  --panel-background-alt: #282e38;
  --panel-background-selected-row: #283654;
  --panel-background-overlay: #282e38e6;
  --panel-background-poster-overlay: #282e38a6;
  --panel-background-transparent: #282e38a6;
  --panel-border: #21242b;
  --panel-icon: #cfd8e3;
  --panel-icon-action: #44a3ff;
  --panel-icon-danger: #ff6c6c;
  --panel-icon-important: #10c469;
  --panel-icon-warning: #f9c851;
  --panel-input: #1e2027;
  --panel-menu-item-background: #85c3ff1a;
  --panel-menu-item-background-hover: #bacfe41a;
  --panel-menu-item-text: #a9d5ff;
  --panel-table-header: #22262f;
  --panel-tags: #3f4762;
  --panel-text: #cfd8e3;
  --panel-text-danger: #ff6c6c;
  --panel-text-important: #10c469;
  --panel-text-other: #b981ff;
  --panel-text-primary: #44a3ff;
  --panel-text-warning: #f9c851;
  --panel-toggle-background: #85c3ff1a;
  --panel-toggle-background-alt: #282e38;
  --panel-toggle-background-hover: #bacfe41a;
  --panel-toggle-text: #a9d5ff;
  --panel-toggle-text-alt: #cfd8e3;
  --slider-background: #21242b;
  --slider-background-alt: #282e38;
  --slider-color: #44a3ff;
  --slider-color-alt: #44a3ff;
  --topnav-background: #353d4a;
  --topnav-border: #21242b;
  --topnav-icon: #cfd8e3;
  --topnav-icon-important: #10c469;
  --topnav-icon-primary: #44a3ff;
  --topnav-icon-warning: #f9c851;
  --topnav-text: #cfd8e3;
  --topnav-text-primary: #44a3ff;
}
