.theme-shoko-gray {
  --color-button-primary: 68 163 255;
  --color-button-primary-hover: 34 94 183;
  --color-button-secondary: 53 61 74;
  --color-button-secondary-hover: 26 34 53;
  --color-button-danger: 219 69 81;
  --color-button-danger-hover: 183 54 76;
  --color-default-background: 40 46 56;
  --color-default-background-input: 33 36 43;
  --color-default-border: 33 36 43;
  --color-default-text: 207 216 227;
  --color-default-text-alt: 1 15 28;
  --color-default-primary: 68 163 255;
  --color-default-primary-hover: 142 211 255;
  --color-default-important: 16 196 105;
  --color-header-background: 44 51 62;
  --color-header-background-alt: 53 61 74;
  --color-header-border: 33 36 43;
  --color-header-text: 207 216 227;
  --color-header-text-alt: 207 216 227;
  --color-header-primary: 68 163 255;
  --color-header-primary-hover: 142 211 255;
  --color-header-important: 16 196 105;
  --color-header-warning: 249 200 81;
  --color-logo-background: 40 46 56;
  --color-logo-highlight: 68 163 255;
  --color-overlay-background: 40 46 56;
  --color-overlay-border: 33 36 43;
  --color-overlay-count-episode: 16 196 105;
  --color-overlay-count-group: 185 129 255;
  --color-overlay-icon: 207 216 227;
  --color-overlay-icon-hover: 68 163 255;
  --color-panel-background: 44 51 62;
  --color-panel-background-alt: 33 36 43;
  --color-panel-background-alt-2: 40 46 56;
  --color-panel-border: 33 36 43;
  --color-panel-border-alt: 63 71 98;
  --color-panel-text: 207 216 227;
  --color-panel-text-alt: 1 15 28;
  --color-panel-primary: 68 163 255;
  --color-panel-primary-hover: 142 211 255;
  --color-panel-important: 16 196 105;
  --color-panel-danger: 219 69 81;
  --color-panel-warning: 249 200 81;
  --color-panel-purple: 185 129 255;
  --color-slider-background:  33 36 43;
  --color-slider-thumb: 68 163 255;
  --color-toast-background: 40 46 56;
  --color-toast-border: 33 36 43;
  --color-toast-text: 207 216 227;
  --color-toast-primary: 68 163 255;
  --color-toast-important: 16 196 105;
  --color-toast-danger: 219 69 81;
  --color-toast-warning: 249 200 81;
}
