<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Shoko WEB UI</title>
      <link rel="shortcut icon" href="favicon.ico" />
      <% if (typeof css !== 'undefined') { %>
      <link rel="stylesheet" type="text/css" href="<%= css %>" />
      <% } %>
  </head>
  <body>
    <div id="modal-root"></div>
    <div id="app-root"></div>
    <script src="<%= bundle %>"></script>
  </body>
</html>
