.fixed-panel {
  min-height: 25rem;
  max-height: 25rem;
  overflow-y: auto;
}

.fixed-panel :global(.table) {
  margin-bottom: 0;
}

.fixed-panel :global(.table) td {
  line-height: 2rem;
  overflow: hidden;
}

.fixed-panel .text-wrapper {
  height: 2rem;
  overflow: hidden;
}

.fixed-panel .icon-column {
  width: 30px;
}

.fixed-panel .icon-column :global(.fa) {
  position: absolute;
}

.header {
  /* color: #3eacaa; */
  color: #15827c;
}

.header h6 {
  color: #2f353b;
}

.timer {
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  bottom: 2.3rem;
  right: 2rem;
  color: #2f353b;
}

.timer :global(.fa) {
  font-size: 13px;
  margin-right: 3px;
}
