:global(.modal) {
  text-align: center;
}

@media screen and (min-width: 768px) {
  :global(.modal)::before {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    height: 100%;
  }
}

:global(.modal-dialog) {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal :global(.checkbox) label {
  padding-left: 0;
}

.modal :global(.checkbox) input[type=checkbox] {
  margin-right: 10px;
}

.modal :global(.panel) {
  margin-bottom: 0;
  padding-bottom: 40px;
}

.import-modal :global(.modal-content) {
  min-height: 370px;
}
