name: Release-Dev-Auto
on:
  push:
    branches: [ "master" ]

jobs:
  release-dev-auto:
    runs-on: ubuntu-latest
    environment: production
    name: Build & release dev version

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Determine bump type
        uses: zwaldowski/match-label-action@v6
        id: bump
        with:
          allowed: premajor,preminor,prepatch
          default_match: prerelease

      - name: Get new version
        uses: zwaldowski/semver-release-action@v4
        id: semver
        with:
          bump: ${{ steps.bump.outputs.match }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          dry_run: true
          preid: 'dev'

      - name: Update version in package.json
        run: pnpm version ${{ steps.semver.outputs.version_tag }} --no-git-tag-version

      - name: Build
        run: pnpm build
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

      - name: Create changelog and release notes
        id: changelog
        run: |
          echo 'CHANGELOG<<CHANGELOG_END' >> $GITHUB_ENV
          git log $(git describe --tags --abbrev=0)..HEAD --pretty=format:"* %B" >> $GITHUB_ENV
          echo -e '\nCHANGELOG_END' >> $GITHUB_ENV
          echo "minimum_server_version=$(jq -r '.minimumServerVersion' ./dist/version.json)" >> $GITHUB_OUTPUT
          echo -e "<!-- Minimum Server Version: **$(jq -r '.minimumServerVersion' ./dist/version.json)** -->\n> [!Warning]\n> This version requires a **Shoko Server** of at least version **$(jq -r '.minimumServerVersion' ./dist/version.json)** to function. Attempting to use this package with a **Shoko Server** which does not meet this requirement will result in a locked UI.\n" > release-notes.txt

      - name: Create build.zip
        run: zip -r ../build/Shoko-WebUI-v${{ steps.semver.outputs.version_tag }}.zip ./* -x "**/*.js.map"
        working-directory: ./dist

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./build/Shoko-WebUI-v${{ steps.semver.outputs.version_tag }}.zip
          tag_name: v${{ steps.semver.outputs.version_tag }}
          prerelease: true
          fail_on_unmatched_files: true
          body_path: ./release-notes.txt
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get current datetime
        id: date
        run: echo "date=$(date +'%Y-%m-%dT%H:%M:%S')" >> $GITHUB_OUTPUT

      - name: Notify discord
        uses: tsickert/discord-webhook@v7.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK }}
          embed-color: 7641851
          embed-timestamp: ${{ steps.date.outputs.date }}
          embed-author-name: Web UI | New Daily Build
          embed-author-icon-url: https://raw.githubusercontent.com/${{ github.repository }}/master/.github/images/webui.png
          embed-author-url: https://github.com/${{ github.repository }}
          embed-description: |
            **Version**: `${{ steps.semver.outputs.version_tag }}`

            **Minimum Server Version**: `${{ steps.changelog.outputs.minimum_server_version }}`

            Update from the Web UI or click [here](https://github.com/${{ github.repository }}/releases/tag/v${{ steps.semver.outputs.version_tag }}) to download!

            **Changes since last build**:
            ${{ env.CHANGELOG }}
