name: Release
on:
  release:
    types:
      - created
    branches: master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js v14
        uses: actions/setup-node@v2
        with:
          node-version: 14
      - name: Install dependencies
        run: yarn install --production=false
      - name: Lint
        run: yarn lint --quiet
      - name: Build
        run: yarn build
      - name: Update release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./build/latest.zip
          asset_name: latest.zip
          tag: ${{ github.ref }}
          overwrite: true
